<div class="artist--teaser teaser">
  <div class="artist--cover cover">
    {{ content.field_image }}
  </div>
  <div class="artist--title title">
    <h2>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  </div>
</div>
